.sidebar {
    height: fit-content;
    padding: 1rem;
    border: 1px solid #BBB;
    border-radius: 6px;
    text-align: center;

    @media (min-width: 992px) {
        position: sticky;
        top: 115px;
        left: 0;
    }

    .price-tag {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        border: 1px dashed #BBB;
        border-radius: 6px;
        background-color: #F9F9F9;

        &>* {
            margin: 0;
            padding: .7rem 1rem;
        }

        .price {
            padding-right: 1.5rem;
            border-left: 1px dashed #BBB;
        }

        .price-amount {
            text-align: center;
        }

        &::before {
            content: '';
            position: absolute;
            top: calc(50% - 8px);
            right: -9px;
            width: 16px;
            height: 16px;
            border-left: 1px dashed #BBB;
            border-radius: 50%;
            background-color: $color-light-gray;
        }
    }
}